

@if (path==='devolucion') {
  <div class="alert alert-warning mt-5" role="alert">
    <h4 class="alert-heading">Recuerda!</h4>
    <p>Para registrar la entrega de una camara debe ser con la cedula del cliente que la alquilo</p>
    <hr>
    <p class="mb-0">ALQUILER DE CAMARAS.</p>
  </div>
}@else {


    <div class="alert alert-success mt-5" role="alert">
    <h4 class="alert-heading">Recuerda!</h4>
    <p>Si el cliente ya se encuentra registrado Por favor digite la cedula con la cual se registro.</p>
    <p>
      En el caso que no este registrado por favor registrelo antes de Alquilar una camara.
    </p>
    <hr>

    <a href="/registrar-cliente" class="alert-link">Click aqui para registrar un cliente</a>.
  </div>




}


@if (error!='') {
  <div class="alert alert-danger mt-4" role="alert">
    <p>{{error}}.</p>

  </div>
}

@if (resultadoAlquiler) {
  <div class="alert alert-success mt-4" role="alert">
    <p>El alquiler se registro correctamente</p>
  </div>
}

@if (devolucionAlquiler) {
  <div class="alert alert-success mt-4" role="alert">
    <p>La devolucion se registro correctamente</p>
  </div>
}

<form class="mt-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded" (ngSubmit)="onSubmit()" #alquilerForm="ngForm">
  <div class="m-3">
    <label for="exampleInputEmail1" class="form-label fs-6">Cedula</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="cedula" [(ngModel)]="alquiler.cliente" #cedula="ngModel" required>
    @if (cedula.invalid && (cedula.dirty || cedula.touched)) {
      <div class="alert alert-danger">
        La cedula es requerida
      </div>
    }
    <div id="emailHelp" class="form-text">
      @if (path === 'devolucion') {
        Digite la cedula con la cual se registro el alquiler

      }@else {
        El numero de cedula que digite debe ser el mismo a la hora de que haga la devolucion de la camara.
      }
    </div>


  </div>
  @if (path==='devolucion') {
    <div class="m-3">
      <label for="exampleInputEmail1" class="form-label fs-6">Fecha de entrega</label>
      <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="fecha" [(ngModel)]="alquiler.fechaEntrega" #fecha="ngModel">
      @if (fecha.invalid && (fecha.dirty || fecha.touched)) {
        <div class="alert alert-danger">
          La fecha es requerida
        </div>
      }
      <div id="emailHelp" class="form-text">Ingrese la fecha del dia de la entrega</div>
    </div>
  }

  @if (path=='devolucion') {
    <button type="submit" class="btn btn-primary m-3" (click)="insertarEntrega()" [disabled]="alquilerForm.invalid" disabled>Registrar Alquiler</button>
  }@else {
    <button type="submit" class="btn btn-primary m-3" (click)="insertarAlquiler()" [disabled]="alquilerForm.invalid" disabled>Registrar Alquiler</button>
  }

</form>





