
@if (validacion) {
  <div class="alert alert-success mt-4" role="alert">
    <p>Los datos de la camara han sido actualizados correctamente.</p>

  </div>
}

<form class="mt-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded " >
  <h1 class="text-center m-5 badge text-bg-primary text-wrap ">EDITAR CAMARA</h1>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Modelo</label>
    <input name="modelo" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  [(ngModel)]="camara.modelo">
  </div>

  <div>
    <label for="">Marca</label>
    <select name="marca" class="form-select mb-3" aria-label="Default select example" [(ngModel)]="camara.marca">
      @for (item of marcas; track item.id) {
        @if (item.id === camara.marca.id) {
          <option value="{{item}}">{{item.nombre}}</option>
        } @else {
          <option [ngValue]="item">{{item.nombre}}</option>
        }
      }
    </select>
  </div>


  <div class="mb-3">
    <label for="" class="form-label">Soporte flash</label>
    <select name="flash" class="form-select" aria-label="Default select example" [(ngModel)]="camara.soporteFlash">
      @if (camara.soporteFlash===true) {
        <option value="true" selected>Si</option>
        <option value="false" >No</option>
      }@else {
        <option value="false" selected>No</option>
        <option value="true" >Si</option>
      }

    </select>
  </div>


  <div>
    <label for="">Peliculas Compatibles</label>
    <select name="peliculas" class="form-select mb-3" multiple aria-label="Multiple select example" [(ngModel)]="camara.peliculas" required="">

      @for (pelicula of peliculas; track $index) {

        <option  [ngValue]="pelicula">{{pelicula.marca}} {{pelicula.nombre}} {{pelicula.sensibilidadIso}} {{pelicula.formato}}</option>

      }
    </select>
  </div>
  <div class="container text-center">
    <button type="submit" class="btn btn-primary " (click)="updateCamara()" >Actualizar</button>
  </div>


</form>
