<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Alquiler de Cámaras</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/camaras" style="transition: all 0.3s ease-in-out;">
            <i class="bi bi-camera-video me-2"></i> Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/devolucion" style="transition: all 0.3s ease-in-out;">
            <i class="bi bi-house-door me-2"></i> Devolucion Camara
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registrar-cliente" style="transition: all 0.3s ease-in-out;">
            <i class="bi bi-info-circle me-2"></i> Registrar Cliente
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registrar-camara" style="transition: all 0.3s ease-in-out;">
            <i class="bi bi-info-circle me-2"></i> Registrar Camara
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

