<div class="card text-center mt-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded" style="width: 30rem; height: auto;" >
  <h2 class="text-center">{{camara?.marca?.nombre | uppercase}}</h2>  <!-- Aumento de tamaño -->
  <img src="https://colombia.bioweb.co/cdn/shop/products/CANO-2727C002-2.jpg?v=1631743861" class="card-img-top" alt="...">
  <div class="card-body">
    <h3 class="card-title"><b>{{camara?.modelo}}</b></h3>

    <b>Centro de reparacion mas cercano: </b>{{camara?.marca?.direccion}}
  </div>

  <select name="" id="peliculas" class="form-select">
    <option value="" selected>Ver Peliculas Compatibles</option>
    @for (item of camara?.peliculas; track $index) {
        <option value="" disabled>
          {{item.marca}}
          {{item.nombre}}
          {{item.sensibilidadIso}}
          {{item.formato}}
        </option>
    }
  </select>

  <div class="card-body">
    <a  (click)="goFormulario(camara?.id)"><button class="btn btn-success">Alquilar</button></a>
  </div>
</div>




